In [1]:
# Import the required libraries

import os
import pandas as pd
import alpaca_trade_api as tradeapi
import matplotlib.pyplot as plt
from dotenv import load_dotenv
from alpaca_trade_api.rest import REST, TimeFrame

In [2]:
# Load .env environment variables
load_dotenv()

True

In [3]:
# API Info for fetching data, portfolio, etc. from Alpaca
BASE_URL = "https://paper-api.alpaca.markets"
ALPACA_API_KEY = os.getenv("ALPACA_API_KEY")
ALPACA_SECRET_KEY = os.getenv("ALPACA_SECRET_KEY")

In [4]:
# Create the Alpaca API object

api = tradeapi.REST(key_id=ALPACA_API_KEY, secret_key=ALPACA_SECRET_KEY, 
                    base_url=BASE_URL, api_version='v2')

In [5]:
# Format current date as ISO format
today = pd.Timestamp("2022-06-03", tz="America/New_York").isoformat()

In [6]:
tickers = ['MSFT']

In [7]:
timeframe = "1D"

In [8]:
# Fetch Apple data from last 5 years
MSFT_DATA = api.get_bars(tickers, timeframe, start = '2017-01-06',
    end = today).df

# Preview Data
MSFT_DATA.head()

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2017-01-06 05:00:00+00:00,62.41,63.15,62.04,62.84,20154615,111920,62.791643,MSFT
2017-01-09 05:00:00+00:00,62.76,63.08,62.54,62.64,20382734,98824,62.741847,MSFT
2017-01-10 05:00:00+00:00,62.61,63.07,62.28,62.62,18594565,99859,62.676103,MSFT
2017-01-11 05:00:00+00:00,62.61,63.23,62.43,63.19,21517335,124904,63.020643,MSFT
2017-01-12 05:00:00+00:00,63.06,63.40,61.95,62.61,20968328,119370,62.359679,MSFT