In [1]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [2]:
# Load .env environment variables
load_dotenv()

True

In [3]:
# Set alpaca api key and secret 
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

In [4]:
# Set the tickers
tickers = ["MSFT", "TSLA"]

In [5]:
# Set timeframe to one day ('1D') for the Alpaca API
timeframe = "1D"

In [6]:
# Format current date as ISO format
today = pd.Timestamp("2022-06-01", tz="America/New_York").isoformat()

In [7]:
# Get current closing prices for FB and TWTR
df_portfolio = alpaca.get_bars(
    tickers,
    timeframe,
    start = today,
    end = today
).df

# Display sample data
df_portfolio

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2022-06-01 04:00:00+00:00,275.00,277.69,270.04,272.42,25108530,318649,273.328471,MSFT
2022-06-01 04:00:00+00:00,755.16,771.98,730.92,740.37,25666544,660807,747.046808,TSLA

In [8]:
# Format start and end dates as ISO format for five year period
start = pd.Timestamp("2017-06-01", tz="America/New_York").isoformat()
end = pd.Timestamp("2022-06-01", tz="America/New_York").isoformat()

In [9]:
# Get closing prices for MSFT and TSLA from the five years
df_portfolio_years = alpaca.get_bars(
    tickers,
    timeframe,
    start = start,
    end = end,
    limit = 10000
).df

# Display sample data
df_portfolio_years.head(10)

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2017-06-01 04:00:00+00:00,70.24,70.61,69.451,70.10,21922908,115317,69.906282,MSFT
2017-06-02 04:00:00+00:00,70.44,71.86,70.240,71.76,35470261,152145,71.359913,MSFT
2017-06-05 04:00:00+00:00,71.97,72.89,71.810,72.28,33317996,137660,72.420495,MSFT
2017-06-06 04:00:00+00:00,72.30,72.62,72.270,72.52,31511065,140546,72.465401,MSFT
2017-06-07 04:00:00+00:00,72.67,72.77,71.950,72.39,22302769,122842,72.316942,MSFT
2017-06-08 04:00:00+00:00,72.42,72.52,71.500,71.95,26179442,136478,71.981665,MSFT
2017-06-09 04:00:00+00:00,72.02,72.08,68.590,70.32,49188196,287856,70.282896,MSFT
2017-06-12 04:00:00+00:00,69.29,69.94,68.130,69.78,47762073,287698,69.223695,MSFT
2017-06-13 04:00:00+00:00,70.04,70.82,69.960,70.65,25258687,146756,70.528400,MSFT
2017-06-14 04:00:00+00:00,71.00,71.10,69.430,70.27,25511116,167872,70.449845,MSFT

In [10]:
# Reorganize the DataFrame
# Separate ticker data
MSFT = df_portfolio_years[df_portfolio_years['symbol']=='MSFT'].drop('symbol', axis=1)
TSLA = df_portfolio_years[df_portfolio_years['symbol']=='TSLA'].drop('symbol', axis=1)
# Concatenate the ticker DataFrames
df_portfolio_years = pd.concat([MSFT, TSLA],axis=1, keys=['MSFT','TSLA'])
df_portfolio_years

                             MSFT                                      \
                             open    high       low   close    volume
timestamp
2017-06-01 04:00:00+00:00   70.24   70.61   69.4510   70.10  21922908
2017-06-02 04:00:00+00:00   70.44   71.86   70.2400   71.76  35470261
2017-06-05 04:00:00+00:00   71.97   72.89   71.8100   72.28  33317996
2017-06-06 04:00:00+00:00   72.30   72.62   72.2700   72.52  31511065
2017-06-07 04:00:00+00:00   72.67   72.77   71.9500   72.39  22302769
...                           ...     ...       ...     ...       ...
2022-05-25 04:00:00+00:00  258.36  264.58  257.1250  262.52  28402776
2022-05-26 04:00:00+00:00  262.29  267.11  261.4294  265.90  24933202
2022-05-27 04:00:00+00:00  268.51  273.34  267.5600  273.24  26809462
2022-05-31 04:00:00+00:00  272.50  274.77  268.9300  271.87  37691020
2022-06-01 04:00:00+00:00  275.00  277.69  270.0400  272.42  25108530

                                                     TSLA                      \
                          trade_count        vwap    open      high       low
timestamp
2017-06-01 04:00:00+00:00      115317   69.906282  344.07  344.8800  337.2900
2017-06-02 04:00:00+00:00      152145   71.359913  339.97  342.8800  335.9300
2017-06-05 04:00:00+00:00      137660   72.420495  338.50  348.4400  334.2100
2017-06-06 04:00:00+00:00      140546   72.465401  344.70  359.4929  339.9700
2017-06-07 04:00:00+00:00      122842   72.316942  356.37  360.5000  355.1400
...                               ...         ...     ...       ...       ...
2022-05-25 04:00:00+00:00      337552  260.950089  624.00  669.3200  623.0101
2022-05-26 04:00:00+00:00      296973  265.279916  661.00  718.6699  653.6600
2022-05-27 04:00:00+00:00      306101  271.652696  722.10  759.8000  720.5311
2022-05-31 04:00:00+00:00      361137  271.999157  773.61  778.8000  734.2300
2022-06-01 04:00:00+00:00      318649  273.328471  755.16  771.9800  730.9200


                            close    volume trade_count        vwap
timestamp
2017-06-01 04:00:00+00:00  340.37   7613744       67887  340.988547
2017-06-02 04:00:00+00:00  339.85   5593073       53383  340.176307
2017-06-05 04:00:00+00:00  347.32   6784368       60366  342.105124
2017-06-06 04:00:00+00:00  352.85  11086803       97826  353.781909
2017-06-07 04:00:00+00:00  359.65   9398787       80097  358.169512
...                           ...       ...         ...         ...
2022-05-25 04:00:00+00:00  658.80  30654903      771635  652.192818
2022-05-26 04:00:00+00:00  707.73  35299789      911799  695.372771
2022-05-27 04:00:00+00:00  759.63  29714124      778711  747.642934
2022-05-31 04:00:00+00:00  758.26  33918657      867884  759.884538
2022-06-01 04:00:00+00:00  740.37  25666544      660807  747.046808

[1260 rows x 14 columns]